@import "~typeface-ubuntu/index";

$font-family-base: "Poppins", sans-serif;

@import "~bootstrap/scss/bootstrap";

.custom-shape-divider-bottom-1624938662 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1624938662 svg {
    position: relative;
    display: block;
    width: calc(167% + 1.3px);
    height: 265px;
}

.custom-shape-divider-bottom-1624938662 .shape-fill {
    fill: #F6F0E5;
}

