.lineDayLabel {
    display: flex;
    

}

.LineWeekLabel {

}

.dayLabel{
    height: 25px;
    width: 200px;
    padding: 1px;
    border: 1px solid lightgrey;
    text-align: center;
    margin: -0.5px;
}

.calTable {
    height: 1000px;
    width: 1600px;
    justify-items: center;
    border: 1px solid lightgrey;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.monthName {

}