.day{
    position: relative;
    padding: 1px;
    width: 200px;
    height: 135px;
    border: 1px solid lightgrey;
    margin: -0.5px;
}

.num {
    position:absolute;
    top: 0;
    right: 0;
    padding: 0.3rem;
    height: 15px;
    color: black;
}

.num.Out {
    color: red;
}

.todo{
    position: absolute;
    padding: 1%;
    width:97%;
    top: 30px;
    align-items: center;
    align-self: center;
    list-style-type: none;
}

.task {
    padding: 3px;
    border:1px dotted black;
    text-align:justify;
    list-style: none;
}

.task:hover{
    background: gray;
}

.task.overflow {
    display: none;
}

.task.extranone {
    display: none;
    height: 0;
    width: 0;
}